<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page_title }} Backend</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Ascend Rewards Employee Engagement Survey">
        <meta name="author" content="Ascend Rewards ">
        <script src="{{ settings.static_path }}/js/master.js"></script>
        <link href="{{ settings.static_path }}/styles/admin.css" rel="stylesheet">

        <style>
        body {
            padding-top: 60px;
        }
        </style>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- 
        <link rel="shortcut icon" href="{{ settings.static_path }}/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ settings.static_path }}/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ settings.static_path }}/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ settings.static_path }}/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ settings.static_path }}/ico/apple-touch-icon-57-precomposed.png">
        -->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/admin">EMDC Point Thompson Project ADMIN</a>
                    <ul class="nav">
                        <li>
                            <a href="/admin/users">Users <span class="badge{{#if users_online}} badge-success{{/if}}">{{users_online}} online</span></a>
                        </li>
                        <li><a href="/admin/reports/quiz-summary">Quiz Summary</a></li>
                        <li><a href="/admin/reports/quiz-expirations">Quiz Expirations</a></li>
                    <li><a href="/admin/reports/certificates-issued">Certificates Issued</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <header class="print">
            <h1>Arctic Pass Orientation Admin</h1>
        </header>
        <div class="container">{{{ body }}}</div>
        <footer class="print">
            Data generated on {{date now}}.
        </footer>
    </body>
</html>