<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hail an Acme Pedicab!</title>
        
        <script src="{{ settings.static_path }}/js/master.js"></script>
        <link href="{{ settings.static_path }}/styles/site.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="{{settings.static_path}}/img/favicon.ico">
        <!-- 
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ settings.static_path }}/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ settings.static_path }}/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ settings.static_path }}/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ settings.static_path }}/ico/apple-touch-icon-57-precomposed.png">
        -->
    </head>
    <body>
        <header><h1>ACME!</h1></header>
        {{{body}}}
    </body>
</html>